* {
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-family: "Times New Roman", Times, sans-serif;
    min-height: 100vh;
}